<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<include file="$(find carmodel)/launch/spawn_xacro.launch">

		<arg name="x" value="0.0"/>
		<arg name="y" value="0.0"/>
		<arg name="z" value="0.0"/>
		<arg name="urdf_robot_file" value="$(find carmodel)/urdf/car.xacro"/>
		<arg name="robot_name" value="smart"/>

	</include>

  <include file="$(find carmodel)/launch/control.launch">
    <arg name="robot_name" value="smart"/>
    <arg name="config_file" value="ros_control_config.yaml"/>
  </include>

    <!-- launch rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find carmodel)/config_rviz/car.rviz" />
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" respawn="true" output="screen" />

    <!-- launch gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find carmodel)/worlds/walls.world" />
  </include>

</launch>
